.App {
  display:grid;
  place-items:center;
  }

  body{
    background-color: #212121;
  }
  svg{
    fill: #fff !important;
  }
  input#outlined-basic {
    background-color: #181818;
    color: #fff
}
input#outlined-basic:placeholder {
  color: #fff !important;
}
ul.css-h4y409-MuiList-root{
  background-color: #181818;
}
ul.css-h4y409-MuiList-root span,
ul.css-h4y409-MuiList-root p,
h2{
  color: #fff;
}
a {
  color: #fff;
  text-decoration: none;
}
img{
  max-width: 60%;
}
.router {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}